ul {
    text-align: center;
    list-style-type: none;
}

.content {
    max-width: 500px;
    margin: auto;
}

li {
    text-align: center;
    display: inline;
    margin: 40px;
    padding: 20px;
}

.remove {
    color: red;
}

#remove-all {
    text-align: right
}

#cart {
    border: none;
}

.centered {
    text-align: center;
    align-content: center;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}


.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgs {
    width: 500px;
    height: 300px;
}

.column {
    float: left;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.cent {
    width: 65%;
}

button {
    text-align: right;
}

.invisible {
    visibility: hidden;
}